<div class="topnav">
    <a class = "<%= path === '/' ? 'active' : '' %>" href = "/">Home</a>
    <a class = "<%= path === '/howtoplay' ? 'active' : '' %>" href = "/howtoplay">How To Play</a>
    <a class = "<%= path === 'stats' ? 'active' : '' %> "href = "/stats">Your Stats</a>
</div>