doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        div.topnav
            a(href="/", class = (path === '/' ? 'active': '')) Home
            a(href="/howtoplay", class = (path === '/howtoplay' ? 'active': '')) How to Play
            a(href="/stats", class = (path === '/stats' ? 'active': '')) Your Stats
        block content

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href = "https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap", rel = "stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap", rel="stylesheet")