extends layouts/main-layout.pug

block content 
    h1.h1 NFL Wordle
    main
        form.input(action = "/", method = "POST")
            input(type="text", name = "player" placeholder = "Guess #")

        div.stats 
            table
                thead 
                    tr 
                        th Name
                        th Team 
                        th Conf 
                        th Div 
                        th Pos 
                        th Seasons Played
                        th HT 
                        th Weight
                        th Age
                        th #
                    
            