<%- include('includes/head.ejs') %>
<h1 class="h1">NFL Wordle</h1>

<main>
    <form class="input" action="/" method="POST">
        <!--Guess # should dynamically update (ignore for now)-->
        <input type="text" name="player" placeholder="Guess #">
    </form>

    <div class=stats>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Conf</th>
                    <th>Div</th>
                    <th>Pos</th>
                    <th>Seasons Played</th>
                    <th>HT</th>
                    <th>Weight</th>
                    <th>Age</th>
                    <th>#</th>
                </tr>
            </thead>
            <% if (players.length > 0) { %>
                <% for (let i = 0; i < players.length; i++) { %>
                    <tr>
                        <th><%= players[i].name %></th>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </div>

</main>
<%- include('includes/end.ejs') %>