extends layouts/main-layout.pug

block content 
    h1.h1 NFL Wordle
    main
        form.input(action = "/", method = "POST")
            input(type="text", name = "player" placeholder = "Guess #")

        div.stats 
            table
                thead 
                    tr 
                        th Name
                        th Team 
                        th Conf 
                        th Div 
                        th Pos 
                        th Seasons Played
                        th HT 
                        th Weight
                        th Age
                        th #
                if players.length > 0 && players.length < 9
                    each player in players 
                        tr 
                            th #{player.name}
                    
                
                    




        //- if prods.length > 0
        //-     .grid
        //-         each product in prods 
        //-             article.card.product-item 
        //-                 header.card__header 
        //-                     h1.product_title #{product.title}
        //-                 div.card_image
        //-                     img(src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2530530.png&h=96&w=96&scale=crop", alt="Goat")
        //-                 div.card__content
        //-                     h2.product__price $19.99
        //-                     p.product__description A very interesting book about so many even more interesting things!
        //-                 .card__actions
        //-                     button.btn Add to Cart
        //- else
        //-     h1 No Products