<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How To Play</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/howtoplay">How To Play</a>
    <a href="/stats">Your Stats</a>
</div>

<body>

    <h1 class="h1">NFL Wordle</h1>

    <main>
    </main>
</body>

</html>

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">