<%- include('includes/head.ejs') %>

<h2 class = "h2">How to Play</h2>
<main>
    <p class = "how-to-play">Guess the NFL player in up to 8 tries! <br> After each guess, color of the columns will change depending on how accurate your guess was! <br> In any column, <mark class = "green">green</mark> is a match to the player <br> In the Pos column <mark class = "yellow">yellow</mark> means that the guess is in the correct side of the ball (defense/offense/special teams) <br> In the Seasons Played and Age column <mark class = "yellow">yellow</mark> means that the guess is within 3 years of the mystery player <br> In the Height column <mark class = "yellow">yellow</mark> means that the guessed height is within 2 inches of the mystery player <br> In the Weight column <mark class = "yellow">yellow</mark> means that the guessed weight is within 15-25 lbs of the mystery player <br> In the Jersey # column <mark class = "yellow">yellow</mark> means that the jersey # is within 3 digits of the mystery player</p>
</main>
<%- include('includes/end.ejs') %>