.topnav
{ 
  background-color: #013369;
  overflow:hidden;
}

.topnav a {
    float:left;
    color:aliceblue;
    text-decoration: none;
    text-align:center;
    padding:15px 15px 15px 15px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.topnav a:hover
{
    background-color:aliceblue;
    color:#013369;
}

.topnav a.active
{
    background-color:#D50A0A;
    color:aliceblue;
}

.h1
{
    margin: 10px;
    font-family: 'Fredoka', sans-serif;
    color: aliceblue;
    text-align: center;
    background-color:#D50A0A;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.h2
{
    margin: 10px;
    font-family: 'Fredoka', sans-serif;
    color: aliceblue;
    text-align: center;
    background-color:#D50A0A;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

body {
    background-color: #04478f;
}

.input {
    padding-top: 20px;
    color:#013369;
    text-align: center;
}

.input input{
    font-family: 'Lato', sans-serif;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    width: 30%;
    font-size:20px;
    color: #013369;
}

::placeholder{
    color:#013369;
}

.stats
{
    border-collapse:collapse;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stats table{
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    text-align: center;
    color:aliceblue;
    font-size:25px;
    font-family: 'Lato', sans-serif;
}

.stats th{
    border-bottom: 3px solid #D50A0A;
    padding:10px;
}

.stats td {
    font-size:18px;
    padding:10px;
}

.green
{
    background-color: #3E7C17;
    color: aliceblue;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.yellow
{
    background-color: #c8af07;
    color: aliceblue;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

td {
    border-bottom: 1px solid #D50A0A;

}

